*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    position: relative;
    .div1{
        width: 48%;
        height: 400px;
        background-color: blueviolet;
        border-radius: 20px;
        position: absolute;
        top: 100px;
        left: 50px;
        z-index: 2;
        .p1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            margin-left: 50px;
            margin-top: 100px;
        }
        .div3{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            margin-top: 50px;
            margin-left: 50px;
            .div4{
                width: 100px;
                height: 80px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .div5{
                
            }
        }
    }
    .div2{
        width: 60%;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 1;
        height: 550px;
        border-top-left-radius: 200px 100px;
        border-bottom-left-radius: 200px 100px;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 50px`;
    }
}